.DS_Store
.editorconfig
.vscode

application/cache/*
!application/cache/index.html

.env
!.env-example

application/logs/*
!application/logs/index.html

import/*
!import/index.html
!import/*/index.html

upload/
!upload/index.html
!upload/daftar/
!upload/daftar/index.html
!upload/setting/
!upload/setting/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
